<p>menu-create-new works!</p>

<hlm-field-group class="color-errors">
  <hlm-field>
    <label hlmFieldLabel for="name">Name</label>
    <input hlmInput id="email" [formField]="menuForm.name" />

    <hlm-field-error [forceShow]="menuForm.name().invalid() && menuForm.name().touched()">
      @for (error of menuForm.name().errors(); track error.kind) {
        <span>{{ error.message }}</span>
      }
    </hlm-field-error>
  </hlm-field>
</hlm-field-group>

<hlm-separator />

<header>
  <h2 class="text-2xl font-medium">Gerichte</h2>
</header>

<div class="flex gap-4 flex-wrap">
  <hlm-card class="w-48 h-48 flex">
    <div hlmCardContent class="m-auto font-semibold cursor-pointe flex">
      <div class="text-xl gap-2">
        <ng-icon class="text-4xl" name="lucidePlus" />
      </div>
    </div>
  </hlm-card>

  @for (m of menuForm().value().meals; track $index) {
    <app-meal-create-display-item [meal]="m" />
  }
</div>
