@if (restaurants.isLoading()) {
  loading...
}

@if (restaurants.hasValue()) {
  @if (restaurants.value().length === 0) {
    <app-restaurants-create-first class="m-auto" />
  }

  @if (restaurants.value().length > 0) {
    <div class="flex gap-1 h-full">
      <div class="pr-2">
        <app-restaurants-list [restaurants]="restaurants.value()" />
      </div>
      <hlm-separator orientation="vertical" />

<!-- SHOW new-restaurant mapped component here -->
      <router-outlet   />
    </div>
  }
}
