<hlm-dialog-header class="mb-4">
  <h1 class="text-xl" hlmDialogTitle>Anmelden</h1>
</hlm-dialog-header>

<hlm-field-group class="color-errors">
  <hlm-field>
    <label hlmFieldLabel for="email">Email</label>
    <input hlmInput id="email" [formField]="loginForm.email" />

    <hlm-field-error [forceShow]="loginForm.email().invalid() && loginForm.email().touched()">
      @for (error of loginForm.email().errors(); track error.kind) {
        <span>{{ error.message }}</span>
      }
    </hlm-field-error>
  </hlm-field>
  <hlm-field>
    <label hlmFieldLabel for="password">Passwort</label>
    <hlm-input-group>
      <input
        hlmInputGroupInput
        [type]="showPassword() ? null : 'password'"
        id="password"
        autocomplete="current-password"
        [formField]="loginForm.password"
      />
      <hlm-input-group-addon align="inline-end">
        <button
          hlmBtn
          size="icon"
          variant="outline"
          (click)="toggleShowPassword()"
          class="border-none h-fit"
        >
          <ng-icon [name]="showPassword() ? 'lucideEyeOff' : 'lucideEye'" />
        </button>
      </hlm-input-group-addon>
    </hlm-input-group>

    <hlm-field-error [forceShow]="loginForm.password().invalid() && loginForm.password().touched()">
      @for (error of loginForm.password().errors(); track error.kind) {
        <span>{{ error.message }}</span>
      }
    </hlm-field-error>
  </hlm-field>
</hlm-field-group>

<div>
  <span
    class="text-blue-500 hover:text-blue-400 hover:cursor-pointer hover:font-medium"
    (click)="openPasswordResetScreen()"
    >Passwort vergessen?</span
  >
</div>

@if (loginFailed()) {
  <hlm-alert variant="destructive">
    <h4 hlmAlertTitle>Email oder Passwort falsch</h4>
  </hlm-alert>
}

<div class="mt-auto">
  <div class="flex gap-2">
    <span>Noch keinen Account?</span>
    <span
      class="text-blue-500 hover:text-blue-400 hover:cursor-pointer hover:font-medium"
      (click)="openRegisterScreen()"
      >Hier registrieren.</span
    >
  </div>

  <hlm-dialog-footer class="flex items-center justify-between w-full">
    <button hlmBtn type="submit" (click)="login()" [disabled]="!loginForm().valid()">
      Anmelden
    </button>
  </hlm-dialog-footer>
</div>
