<hlm-dialog-header class="mb-4">
  <div class="text-xl class flex gap-2 items-center" hlmDialogTitle>
    <button hlmBtn size="icon" variant="outline" class="border-none h-fit hover:cursor-pointer" (click)="openLoginScreen()">
      <ng-icon name="lucideArrowLeft" />
    </button>

    <span>Passwort zurücksetzen</span>
  </div>
  <p hlmDialogDescription>
    Gib deine E-Mail-Adresse ein und wir schicken dir einen Link, mit dem du dein Passwort
    zurückzusetzen kannst
  </p>
</hlm-dialog-header>

<hlm-field-group class="color-errors">
  <hlm-field>
    <label hlmFieldLabel for="email">Email</label>
    <input hlmInput id="email" [formField]="resetPasswordForm.email" />

    <hlm-field-error
      [forceShow]="resetPasswordForm.email().invalid() && resetPasswordForm.email().touched()"
    >
      @for (error of resetPasswordForm.email().errors(); track error.kind) {
        <span>{{ error.message }}</span>
      }
    </hlm-field-error>
  </hlm-field>
</hlm-field-group>

@if (noAccountFound()) {
  <hlm-alert variant="destructive">
    <h4 hlmAlertTitle>Keinen Account mit dieser Email gefunden</h4>
  </hlm-alert>
}

<div class="mt-auto">
  <hlm-dialog-footer class="flex items-center justify-between w-full">
    <button
      hlmBtn
      type="submit"
      (click)="resetPassword()"
      [disabled]="!resetPasswordForm().valid()"
    >
      Passwort zurücksetzen
    </button>
  </hlm-dialog-footer>
</div>
